<div class="ui warning icon message validation-summary">
    <i class="warning circle icon"></i>
    <div class="content">
        <div class="header">Errors</div>
        <div asp-validation-summary="All" class="summary-content"></div>
    </div>
</div>
