@using Microsoft.AspNetCore.Identity
@using DnD.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="@Html.IsActiveAction(controllers: "Manage") right item"><i class="user icon"></i> @((await UserManager.GetUserAsync(User)).DisplayName)</a>
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logout-form">
        <a onclick="$('#logout-form').submit();" class="item"><i class="remove user icon"></i> Log off</a>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register" class="@Html.IsActiveAction("Register", "Account") right item"><i class="icon add user"></i> Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="@Html.IsActiveAction("Login", "Account") item"><i class="icon user"></i> Log in</a>
}
