@using Microsoft.AspNetCore.Identity
@using DnD.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="@Html.IsActiveAction(controllers: "Manage") item">@UserManager.GetUserName(User)</a>
    <a asp-area="" asp-controller="Account" asp-action="LogOff">Log off</a>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register" class="@Html.IsActiveAction("Register", "Account") item">Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="@Html.IsActiveAction("Login", "Account") item">Log in</a>
}
