@model DnD.Models.AdventureViewModels.AddAdventurersViewModel

<form asp-action="AddAdventurers" class="ui form summary">
    @*
        TODO: Deactivated until NullReferenceException bug is fixed
        @await Html.PartialAsync("_FormErrorSummary")
    *@
    @if (ViewData.ContainsKey("HideId"))
    {
        <input asp-for="AdventureId" type="hidden" />
    }
    else
    {
        <div class="field">
            <label asp-for="AdventureId"></label>
            <input asp-for="AdventureId" />
            <div class="ui pointing red basic label error-label">
                <span asp-validation-for="AdventureId"></span>
            </div>
        </div>
    }
    <div class="field">
        <label asp-for="Adventurers"></label>
        <select asp-for="Adventurers" asp-items="ViewBag.Characters" class="ui selection search dropdown create-default">
            <option value=""></option>
        </select>
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Adventurers"></span>
        </div>
    </div>
    <button type="submit" class="ui green button"><i class="add icon"></i>Add Adventurers</button>
</form>
