@model AdventureParticipation

<div class="ui card">
    @await Html.PartialAsync("_CharacterCardHeader", Model.Adventurer)
    <div class="content">
        <form class="ui form">
            <button class="right floated ui yellow button"><i class="cubes icon"></i> Add Gold</button>
            <div class="fields">
                <div class="field" data-tooltip="How much Gold this Adventurer earned or lost">
                    <input placeholder="Amount" />
                </div>
                <div class="field" data-tooltip="Optional Description">
                    <input placeholder="Description" />
                </div>
            </div>
        </form>
        <form class="ui form">
            <button class="right floated ui purple button"><i class="lab icon"></i> Add Experience</button>
            <div class="fields">
                <div class="field" data-tooltip="How much Experience this Adventurer gained">
                    <input />
                </div>
                <div class="field" data-tooltip="Optional Description">
                    <input />
                </div>
            </div>
        </form>
    </div>
</div>
