@model AdventureParticipation

<div class="ui card">
    @await Html.PartialAsync("_CharacterCardHeader", Model.Adventurer)
    <div class="content">
        <form class="ui form" asp-controller="Character" asp-action="AddGold">
            <button class="right floated ui yellow icon button" data-tooltip="Add Gold"><i class="cubes icon"></i></button>
            <div class="fields">
                <div class="field" data-tooltip="How much Gold this Adventurer earned or lost">
                    <div class="ui corner labeled input">
                        <input placeholder="Amount" />
                        <div class="ui yellow corner label">
                            <i class="cubes icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field" data-tooltip="Optional Description">
                    <div class="ui corner labeled input">
                        <input placeholder="Description" />
                        <div class="ui yellow corner label">
                            <i class="write icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="ui form" asp-controller="Character" asp-action="AddExperience">
            <button class="right floated ui purple icon button" data-tooltip="Add Experience"><i class="lab icon"></i></button>
            <div class="fields">
                <div class="field" data-tooltip="How much Experience this Adventurer gained">
                    <div class="ui corner labeled input">
                        <input placeholder="Amount" />
                        <div class="ui purple corner label">
                            <i class="lab icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field" data-tooltip="Optional Description">
                    <div class="ui corner labeled input">
                        <input placeholder="Description" />
                        <div class="ui purple corner label">
                            <i class="write icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
