@model DnD.Models.Adventure

@{
    ViewData["Title"] = "Delete Adventure";
}

<h3>Are you sure you want to delete this adventure?</h3>

@await Html.PartialAsync("_SmallAdventureCard", Model, new ViewDataDictionary(ViewData) { ["HideActions"] = false })

<form asp-action="Delete">
    <button type="submit" class="ui red button"><i class="delete icon"></i>Delete</button>
    <a asp-action="Index">Back to List</a>
</form>
