@model IEnumerable<DnD.Models.Adventure>

@{
    ViewData["Title"] = "Adventures";
}

<p><a asp-action="Create" class="ui green button"><i class="add icon"></i>Create Adventure</a></p>

<div class="ui cards">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_AdventureCard", item)
    }
</div>
