@{
    ViewData["Title"] = "About";
}

<p>Created by JP</p>
<p><a target="_blank" href="http://github.com/TheJP/DnD"><i class="large black github icon"></i> Project Page</a></p>
<p>The default data is created from <a href="http://drachenritterorden.de/" target="_blank"><i class="external icon"></i>this online rpg</a></p>
