@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui form summary">
    <h4 class="ui dividing header">Create a new account.</h4>
    @await Html.PartialAsync("_FormErrorSummary")
    <div class="field">
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Username"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <button type="submit" class="ui button"><i class="add user icon"></i> Register</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
