@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="ui form summary">
    @await Html.PartialAsync("_FormErrorSummary")
    <div class="field">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="OldPassword"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <button type="submit" class="ui button"><i class="write icon"></i> Change password</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
