@model IEnumerable<DnD.Models.Character>

@{
    ViewData["Title"] = "Characters";
}

<p><a asp-action="Create" class="ui green button"><i class="add icon"></i>Create Character</a></p>

<div class="ui cards">
@foreach(var item in Model)
{
    @await Html.PartialAsync("_SmallCharacterCard", item)
}
</div>
